@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr auto;
  margin: 0 2rem;
  /* background-color: pink; */
  align-items: center;
}

header img{
  width: 50%;
}


nav ul {
list-style: none;
display: flex;
flex-direction: row;
color: black;
font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 0 1rem;
}

nav a:hover {
  text-decoration: underline;
}

.pictures {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: red; */
  gap: 1rem;
  padding: 0 2rem;
  list-style: none;
}

.pictures li img{
  display: block;
  max-width: 100%;
  height: auto;
}

.pictures li:first-child {
  grid-column: 1 / -1;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

p {
  margin: 0;
}
.money-tree {
  background-color: pink;
}
